<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Tales</title>
    <link rel="stylesheet" href="/styles/blog.css">
</head>

<body>
    <header>
        <h1>
            Quick Tales
        </h1>
    </header>
    <main>
        <div class="blog">
            <h2>
                <%= blogs[0].title %>
            </h2>
            <p class="content">
                <%= blogs[0].content%>
            </p>
            <p id="author">
                Author:
                <%= blogs[0].author %>
            </p>
            <div class="mod">
                <form action="/edit/<%= i %>" method="get">
                    <input class="button edit" type="submit" value="EDIT">
                </form>
                <form action="/delete/<%= i %>" method="post">
                    <input class="button delete" type="submit" value="DELETE">
                </form>
            </div>
        </div>
    </main>
</body>

</html>